html,body{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

nav{
    display: flex;
    justify-content: center;
    background-color: blue;
}

#container{
    border: 1px solid black;
    background-color: blue;
    padding: 10px;
    width: 1018px;
}

canvas{
    border:1px solid black;
    background-color: brown;
}

a:link,a:visited{
    background-color: green;
    text-decoration: none;
    color: red;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

a:hover{
    background-color: grey;
    color: white;
}