html,body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Syne Mono', monospace;
    background-color: skyblue;
}

#container{
    width:1000px;
    padding: 10px;
    background-color: darkblue ;
}

header{
    background-color: Red;
    margin-bottom: 10px;
    text-align: center;
}

nav{
    background-color: red;
    margin-bottom: 10px;
}

main{
    display: flex;
    justify-content: center;
    padding:10px;
}

canvas{
    border: 1px solid black;
    background-color:grey;
    margin-bottom: 10px;
}

footer{
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
}