
* {
	box-sizing:border-box;
	/* Give this "global" element a margin of zero  */
	/* Give this "global" element a padding of zero */
}

html body {
	/* Give these two elements a height of 100% */
}
html {
	background-color: black;
	padding: 20px
	
}

body {
	background-color: #0bdefb;
	font-family: arial; 
	font-size: 18px;
	text-decoration-color: #022634;
	
}

#container {
	width: 980px;
	margin: auto;
	padding:10px;
	
}
footer {
	/* Clear the footer for both side of content */
	/* Give this element a width of 100% */
	/* Give this element a padding top and bottom of 20 pixels and a right and left of zero using the padding shorthand property */
	/* Give this element a border top of 2 pixels, a solid line and a hex color of #09c1da */ 
	font-size: 10px;
	/*remove this border when done */border:5px solid green;
}

.copy {
	/* Float the copyright to the left inside the footer */
	/* Give this element a text color of #066875 */
}

.fox {
	/* Float this element to the right inside the footer */
	/* Give this element a font weight of bold */
	
}

.fox a {
	/* Make the text color of this link black */
}

/* Header Stylings ----------*/
header {
	/* Give this element a height of 100 pixels*/
	/* Float this element left in the container */ 
	/* Give this element a width of 100% */ 
	border-bottom:2px solid #09c1da;
	
}

#name {
	/* Float Peter's name left inside the header */ 
	
	width: 430px;
	height: 100px;
	/* Center the text vertically using a line height of 100 pixels */
	/* Give the Peter Griffin text a color of #cd37ff */ 
	font-size: 50px;
	/* Insert a background image of "fg_logo.png" as a background */
	/* Make the background image not repeat */
	/* make the background image position "right" horizontally and "center" vertically */
	
}
nav {
	/* Float the nav to the right inside the header */
	margin-top: 20px;
	/*remove this border when done */border:5px solid red;
	
}

.btn {
	display:block;
	float: left;
	padding: 20px;
	/* Make the button text color a hex color of #cccccc */
	/* Make the button text have no underline */ 
	background-color: black;
	margin-right: 
	
}

.btn:hover {
	background-color: #056D7B;
	text-decoration-color: white;
}

/* End Header Stylings ----------------------*/


/* Peter Griffin content stylings -------------*/
section {
	/* Float this div left inside the container under the header */
	/* Give this div a width of 600 pixels */
	/* Give this div a padding of 10 pixels */
	text-align:justify;
	/*remove this border when done */border:5px solid orange;
}

p {
	/*remove this border when done */border:5px solid blue;
}

.title {
	/* Give the title a margin top,right and left of zero and a margin bottom of 10 pixels */
	/* Float this element left inside the content div */
	/* Give this element a width of 100% */
}


section img {
	/* Float the image of Peter to the right so the text wraps around his image */
	 /* Give the Peter image a border of 4 pixels, a solid line and the hex color of #009ad8 */
	margin:0 0 20px 20px;
}

/* Aside stylings ---------------------------*/

aside {
	/* Float the aside to the right under the header in the container div */
	width: 325px;
	margin-top: 10px;
	min-height:300px;
	padding: 10px;
	background-color: #00c4e7;
	/*remove this border when done */border:5px solid blue;
}

aside img {
	 /* Give this element a width of 100%*/
	/* Float any image in the aside to the left */
	margin-bottom: 10px;
}

h4 {
	/* Float this heading to the left inside the aside box */
	/* Give this element a width of 100% */
	margin:0 0 5px 0;
	/* Give this element a padding of 6 pixels for top and bottom and zero pixels for right and left using the padding shorthand property */
	/* Give this element a background color of black */ 
	/* Align the text in this element center */
	text-decoration-color: white;
}

